.setting-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 50px;
}
.button{
    display: flex;
    justify-content: flex-end;
    /* margin:5px; */
}
.buttonText{
    margin:5px;
    padding-left:20px;
    padding-right: 20px;
    font-size: x-large;
    font-weight: 900;
}

.setting-title{
    font-weight: 900;
    font-size: xx-large;   
}