.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding-left: 15px;
    padding-right:15px;

}
.background{
    background-color:#FBEEFF;
    padding:20px;
    color:#253E70;
}
.goal-title{
    font-weight: 900;
    font-size: xx-large;
}
.goal-text{
    font-size: x-large;
}
.achieve-text{
    align-self: center;
}
.chart{
    max-width: 250px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.center{
    justify-content: space-around;
}

.left{
    margin-left: 19px;
}

.start{
    display: flex;
    flex-direction: row;
}

.between{
    justify-content: space-between;
}
.grid-timer{
    margin:10px;
    justify-content: center;
}